<style>
    #div_books img {
        cursor: pointer;
    }
</style>

<div class="row my-5">
    <div class="col">
        <h1 class="text-center mb-5">도서검색</h1>
        <div class="row justify-content-end">
            <form class="col-6 col-lg-3 col-md-4" name="frm">
                <div class="input-group">
                    <input class="form-control" placeholder="검색어" name="query" value="웹서버">
                    <button class="btn btn-primary">검색</button>
                </div>
            </form>
        </div>
        <hr>
        <div id="div_books"></div>
        <div class="text-center" id="div_page">
            <button class="btn btn-primary" id="prev">이전</button>
            <span class="mx-3" id="span_page">1/10</span>
            <button class="btn btn-primary" id="next">다음</button>
        </div>
    </div>
</div>
<script type="x-handlebars-template" id="temp_books">
    <table class="table">
    {{#each documents}}
        <tr>
            <td><img src="{{chkImage thumbnail}}" width="50px"></td>
            <td>{{title}}</td>
            <td>{{fmtprice price}}</td>
            <td>{{authors}}</td>
            <td><button class="btn btn-primary" index="{{@index}}">도서정보</button></td>
        </tr>
        <%-include('modal.ejs')%> 
    {{/each}}
    </table>
</script>
<script>
    Handlebars.registerHelper("chkImage", function(image){
        if(image) {
            return image;
        }else {
          return "http://via.placeholder.com/120x170"

        }
    });

    Handlebars.registerHelper("fmtprice", function(price){
        if(price) return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원';
    });
</script>
<script>
    let query=$(frm.query).val();
    let page=1;

    //도서정보 버튼 클릭했을떄
    $("#div_books").on("click", ".btn-primary", function(){
        let index=$(this).attr("index");
        $("#modal" + index).modal("show");
    });

    $(frm).on("submit", function(e){
        e.preventDefault(); //막다
        query=$(frm.query).val();
        page=1;
        getBooks();
    });

        //다음 버튼 이동
    $("#next").on("click", function(){
        page++;
        getBooks();
    });

       //이전 버튼 이동
        $("#prev").on("click", function(){
        page--;
        getBooks();
    });

    //도서검색 데이터 불러오기
    getBooks();
    function getBooks(){
        $.ajax({
            type : "GET",
            url : "https://dapi.kakao.com/v3/search/book?target=title",
            headers : {"Authorization" : "KakaoAK d0b5f4b135aba43b9e204b8f8ef7dcf7"},
            data :{query : query, page : page, size : 5},
            success : function(data){
                //console.log(data)
                let temp=Handlebars.compile($("#temp_books").html());
                $("#div_books").html(temp(data));

                let last = Math.ceil(data.meta.pageable_count/5)
                $("#span_page").html(page + "/" + last);

                if(page==1)$("#prev").attr("disabled", true);
                else $("#prev").attr("disabled", false);

                if(data.meta.is_end) $("#next").attr("disabled", true);
                else $("#next").attr("disabled", false);
            },
        });
    }
</script>