<div class="row my-5">
    <div class="col">
        <h1 class="text-center">지역검색</h1>
        <div class="row md-2 justify-content-end">
            <form name="frm" class="col-6 col-md-4 col-lg-3">
                <div class="input-group">
                    <input name="query" class="form-control" value="인하대학교">
                    <button class="btn btn-primary">검색</button>
                </div>
            </form>
        </div>
        <div id="div_locals"></div>
              <!-- 페이지 이동 -->
              <div class="text-center">
                <button id="prev" class="btn btn-primary">이전</button>
                <span id="span_page" class="mx-3">1/10</span>
                <button id="next" class="btn btn-primary">다음</button>
            </div>
    </div>
</div>


<script type="x-handlebars-template" id="temp_locals">
    <table class="table">
        {{#each documents}}
        <tr>
            <td class="place">{{place_name}}</td>
            <td>{{address_name}}</td>
            <td class="phone">{{phone}}</td>
            <td><button class="btn btn-primary" local="{{toString @this}}">즐겨찾기</button></td>
         </tr>
        {{/each}}
    </table>
</script>
<script>
    Handlebars.registerHelper("toString", function(local){
        return JSON.stringify(local);  //오브젝트를 스트링으로 변환!
    });
</script>
<script type="module">
    import { app } from "/javascripts/firebaseInit.js";
    import { getDatabase, ref, set, get } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-database.js"; //ref는 어디에다 쓸것인지 set, get으로 지정
    const db = getDatabase(app);    //설정파일 app 지정

    let page=1;
    let query=$(frm.query).val();

    $(frm).on("submit", function(e){
        e.preventDefault();
        query=$(frm.query).val();
        page=1;
        getLocals();
    });

    // 즐겨찾기 버튼 누른 경우
    $("#div_locals").on("click", ".btn-primary", async function(){
        if(!sessionStorage.getItem("uid")){
            sessionStorage.setItem("target", "/locals");
            location.href="/users/login";
        } else{ //로그인이 된경우
            const local=JSON.parse($(this).attr("local"));
            console.log(local);
            const ref_local=`favorite/${sessionStorage.getItem("uid")}/${local.id}`;
            const snapshot= await get(ref(db,ref_local));
            //중복되어 있는지 확인 snapshot
            if(snapshot.val()){
                alert("이미 등록");
            }else{ 
                await set(ref(db, ref_local), local);
                alert("추가 되었습니다!");
            }
        }
    })

        //다음 버튼 이동
        $("#next").on("click", function(){
        page++;
        getLocals();
    });

        //이전 버튼 이동
        $("#prev").on("click", function(){
        page--;
        getLocals();
    });

    getLocals();
    function getLocals(){
        $.ajax({
            type:"get",
            url:"https://dapi.kakao.com/v2/local/search/keyword.json",
            headers: {"Authorization" : "KakaoAK d0b5f4b135aba43b9e204b8f8ef7dcf7"},
            data:{page:page, query:query, size:5},
            success:function(data){
                console.log(data);
                let temp=Handlebars.compile($("#temp_locals").html());
                $("#div_locals").html(temp(data));

                let last = Math.ceil(data.meta.pageable_count/5)
                $("#span_page").html(page + "/" + last);

                if(page==1)$("#prev").attr("disabled", true);
                else $("#prev").attr("disabled", false);

                if(data.meta.is_end) $("#next").attr("disabled", true);
                else $("#next").attr("disabled", false);
            }
        });
    }
</script>