<nav class="navbar navbar-expand-lg  bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">HOME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/books">도서검색</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/locals">지역검색</a>
          </li>
          <li class="nav-item" id="cart" style="display: none;">
            <a class="nav-link active" aria-current="page" href="/books/cart">장바구니</a>
          </li>
        </ul>
        <!-- //d-flex 오른쪽메뉴 -->
        <ul class="navbar-nav d-flex">  
            <li class="nav-item" id="login">
              <a class="nav-link active" aria-current="page" href="/users/login">LOGIN</a>
            </li>
            <!-- style="display: none; 로그인 후 에 보이게 -->
            <li class="nav-item" id="email" style="display: none;">
              <a class="nav-link active" aria-current="page" href="/users/mypage">email</a>
            </li>
            <li class="nav-item" id="logout" style="display: none;">
              <a class="nav-link active" aria-current="page" href="/users/logout">LogOut</a>
            </li>
          </ul>
      </div>
    </div>
</nav>

<script>

  // 값이 있는거 ↓
  if(sessionStorage.getItem("email")){
    $("#login, #email, #logout, #cart").toggle(); //toggle보이는거 보이게 안보이는거 안보이게!
    $("#email a").html(sessionStorage.getItem("email"));
  }
  // 로그아웃시 a태그 클릭시 preventDefault로 이동 막고 session에 저장값을 지우고 email를 다시 토글하게 해줌! 
  $("#logout").on("click", "a",function(e){
    e.preventDefault();
    if(confirm("정말로 로그아웃하실래요?")) {
      sessionStorage.clear();
      location.href="/";
    } 
  });
</script>