<div class="my-5">
    <h1 class="text-center mb-5"><%=title%></h1>
    <div id="div_post"></div>
</div>

<script id="temp_post" type="x-handlebars-template">
    <form name="frm">
        <input value="{{title}}"
            name="title" placeholder="제목을 입력하시오!" class="form-control mb-2">
        <textarea name="body" placeholder="내용을 입력하시오!" rows="10" class="form-control">"{{body}}"</textarea>
        <div class="text-center my-3">
            <button type="submit" class="btn btn-primary px-5">수정</button>
            <button type="reset" class="btn btn-secondary px-5">취소</button>
        </div>
    </form>
</script>

<script type="module">
    import { app } from "/javascripts/firebaseInit.js";
    import { getFirestore, doc, getDoc, setDoc } from "https://www.gstatic.com/firebasejs/10.4.0/firebase-firestore.js";
    const db = getFirestore(app);

    const id="<%=id%>";
    const snapshot=await getDoc(doc(db, `posts/${id}`));
    const post = snapshot.data();

    const temp=Handlebars.compile($("#temp_post").html());
    $("#div_post").html(temp(post));

    $(frm).on("submit", async function(e){
        e.preventDefault();
        if(confirm(`${id}번 게시글을 수정하실래요?`)){
            //  수정하기
            await setDoc(doc(db, `posts/${id}`), {
                ...post, 
                title:$(frm.title).val(),
                body:$(frm.body).val()
            });
            alert("수정완료");
            location.href="/posts";
        }
    });
</script>